CMakeFiles/mainServer.dir/build.make
mainServer
Makefile
.vscode/settings.json
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.cxx
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.13.4/CMakeCCompiler.cmake
CMakeFiles/3.13.4/CMakeCXXCompiler.cmake
CMakeFiles/3.13.4/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.13.4/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.13.4/CMakeSystem.cmake
CMakeFiles/3.13.4/CompilerIdC/a.out
CMakeFiles/3.13.4/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.13.4/CompilerIdCXX/a.out
CMakeFiles/3.13.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/client.dir/build.make
CMakeFiles/client.dir/cmake_clean.cmake
CMakeFiles/client.dir/CXX.includecache
CMakeFiles/client.dir/depend.internal
CMakeFiles/client.dir/depend.make
CMakeFiles/client.dir/DependInfo.cmake
CMakeFiles/client.dir/flags.make
CMakeFiles/client.dir/link.txt
CMakeFiles/client.dir/progress.make
CMakeFiles/client.dir/inputs/client.cpp.o
CMakeFiles/mainServer.dir/cmake_clean.cmake
CMakeFiles/mainServer.dir/CXX.includecache
CMakeFiles/mainServer.dir/depend.internal
CMakeFiles/mainServer.dir/depend.make
CMakeFiles/mainServer.dir/DependInfo.cmake
CMakeFiles/mainServer.dir/flags.make
CMakeFiles/mainServer.dir/link.txt
CMakeFiles/mainServer.dir/main.cpp.o
CMakeFiles/mainServer.dir/progress.make
CMakeFiles/out.dir/build.make
CMakeFiles/out.dir/cmake_clean.cmake
CMakeFiles/out.dir/CXX.includecache
CMakeFiles/out.dir/depend.internal
CMakeFiles/out.dir/depend.make
CMakeFiles/out.dir/DependInfo.cmake
CMakeFiles/out.dir/flags.make
CMakeFiles/out.dir/link.txt
CMakeFiles/out.dir/progress.make
CMakeFiles/out.dir/inputs/server.cpp.o
cmake_install.cmake
CMakeCache.txt
